@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eeeeee;
}

.dropdown {
  @apply absolute top-full left-0 bg-white shadow-md z-50 p-2 border rounded-md;
}

.dropdown li {
  @apply list-none m-0 py-2 w-52;
}

.dropdown a {
  @apply no-underline text-gray-700 font-semibold;
}

.dropdown a:hover {
  @apply text-blue-500;
}

.scroll-container {
  overflow: hidden;
  width: 100%;
}

.scroll-content {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
